/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Remove default margin */
body,
h1,
c h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* VARIABLES GLOBALES */


:root {
    --color-1: #008EBB;
    --color-2: #F5CD21;
    --color-3: #001895;
    --color-4: #525252;
    --color-5: #8496A9;
    --color-6: #F2FBFE;
    --color-7: #E5F2FF;
    --negro: #525252;
    --text-xs: 0.8rem;
    --text-s: 0.9rem;
    --text-r: 1rem;
    --text-rm: 1.1rem;
    --text-m: 1.2rem;
    --text-ml: 1.4rem;
    --text-l: 1.6rem;
    --text-xl: 2rem;
    --text-xxl: 2.4rem;
    --text-xxxl: 2.8rem;
    --text-xxxxl: 3rem;
    --text-sans: "Barlow", sans-serif;
    --sombra-1: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    --sombra-2: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    ;
}

.text-1,
a {
    color: var(--color-1);
}

.text-2 {
    color: var(--color-2);
}

.text-3 {
    color: var(--color-3);
}

.text-4 {
    color: var(--color-4);
}

.text-5 {
    color: var(--color-5);
}

.text-white {
    color: #fff;
}

.bg-1 {
    background-color: var(--color-1);
}

.bg-2 {
    background-color: var(--color-2);
}

.bg-3 {
    background-color: var(--color-3);
}

.bg-4 {
    background-color: var(--color-4);
}

.bg-5 {
    background-color: var(--color-5);
}

.bg-6 {
    background-color: var(--color-6);
}


.text-xs {
    font-size: var(--text-xs);
}

.text-s {
    font-size: var(--text-s);
}

.text-r {
    font-size: var(--text-r);
}

.text-rm {
    font-size: var(--text-rm);
}

.text-m {
    font-size: var(--text-m) !important;
}

.text-ml {
    font-size: var(--text-ml) !important;
}

.text-l {
    font-size: var(--text-l) !important;
}

.text-xl {
    font-size: var(--text-xl) !important;
}

.text-xxl {
    font-size: var(--text-xxl) !important;
}

.text-xxxl {
    font-size: var(--text-xxxl) !important;
}

.text-xxxxl {
    font-size: var(--text-xxxxxl) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.titulo {
    font-weight: 600;

}

p strong {
    font-weight: 500;
}

strong {
    font-weight: 600;
}

.text-600 {
    font-weight: 600;
}

.text-300 {
    font-weight: 300;
}

.text-400 {
    font-weight: 400;
}

.text-m {
    font-size: var(--text-m);
}

.text-ml {
    font-size: var(--text-ml);
}

.text-l {
    font-size: var(--text-l);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-xxl {
    font-size: var(--text-xxl);
}

.text-naranja {
    color: var(--naranja);
}

body {
    position: relative;
    font-family: var(--text-sans), sans-serif;
    color: var(--negro);
    font-weight: 300;
}

section {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

button.btn {
    background-color: var(--color-2);
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: var(--text-m);
    padding: 1rem 3rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    box-shadow: inset 0px 0px 0px 0.1rem var(--color-2);
    border: none;
}

button.btn:hover {
    background-color: #fff;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    font-size: var(--text-rm);
}

/* HEADER */

#header-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    z-index: 999;
}

/* HOME */

#brochure-home section#hero {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

#brochure-home section#hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 2;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 55%, rgba(255, 255, 255, 0) 100%);
}

#brochure-home #hero .top {
    position: relative;
    height: 80%;
}

#brochure-home #hero .top .container {
    text-align: right;
    color: #fff;
    padding-top: 6rem;
    position: relative;
    z-index: 2;
}

#brochure-home #hero h1 {
    font-size: var(--text-xxxxl);
    font-weight: 300;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

#brochure-home #hero .top img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#brochure-home #hero .bottom {
    position: relative;
    background-color: var(--color-1);
    height: 20%;
}

#brochure-home #hero .bottom .container {
    height: 100%;
    position: relative;
}

#brochure-home #hero img.floating {
    position: absolute;
    max-height: 50vh;
    left: 0;
    bottom: -50%;
    width: 50%;
    aspect-ratio: 4/3;
    object-fit: cover;
    box-shadow: var(--sombra-1);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

#hero .bottom a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .bottom a div {
    border: solid 1px #fff;
    margin-left: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .2s ease;
    animation: pulse-animation 2s infinite;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

#hero .bottom a:hover div {
    transform: translateX(.5rem);
    -webkit-transform: translateX(.5rem);
    -moz-transform: translateX(.5rem);
    -ms-transform: translateX(.5rem);
    -o-transform: translateX(.5rem);
}

.pulse {}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

.swiperFlotaNav,
.swiperSustNav {
    border: none;
    background: none;
    text-transform: uppercase;
    color: var(--color-1);
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: var(--text-m);
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.swiperFlotaNav .swiper-slide,
.swiperSustNav .swiper-slide {
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    opacity: .5;
    border-bottom: solid 3px var(--color-2);
    color: var(--color-1);
}

.swiperFlotaNav .swiper-slide-thumb-active,
.swiperFlotaNav .swiper-slide:hover,
.swiperSustNav .swiper-slide-thumb-active,
.swiperSustNav .swiper-slide:hover {
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.swiperFlota .swiper-button-prev {
    background-image: url(../images/chevron-left-white.svg);
}

.swiperFlota .swiper-button-next {
    background-image: url(../images/chevron-right-white.svg);
}

section#flota {
    background-color: var(--color-6);
}

.swiperFlota .swiper-slide {
    aspect-ratio: 16/9;

}

.swiperFlota .swiper-slide figure:after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(0, 142, 187);
    background: linear-gradient(4deg, rgba(0, 142, 187, 0.5410539215686274) 21%, rgba(0, 142, 187, 0) 46%);
}

.swiperFlota .ficha {
    padding: .75rem;
    background-color: #0000005e;
    border: solid 1px #ffffff3a;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.swiperFlota .ficha p {
    text-transform: uppercase;
    letter-spacing: .05rem;
    margin-bottom: .2rem;
}

.swiperFlota .swiper-slide .container {
    height: 100%;
    padding: 3rem 4rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
}

.swiperFlota .swiper-slide img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
}

.swiperFlota .swiper-slide .row {
    position: relative;
    z-index: 2;
}

.swiperFlota h3,
.swiperSust h3 {
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: var(--text-xxl);
}



.swiperSust .swiper-slide .content {
    position: relative;
}

.swiperSust .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}


#sustentable .navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}

#sustentable .swiper-button-prev {
    position: relative;
    background-image: url(../images/chevron-left.svg);
}

#sustentable .swiper-button-next {
    position: relative;
    background-image: url(../images/chevron-right.svg);
}

.box#buque-electrico {
    background-color: var(--color-1);
    color: #fff;
    display: flex;
    box-shadow: var(--sombra-1);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.box#buque-electrico .text {
    width: 40%;
}

.box#buque-electrico figure {
    width: 60%;
    aspect-ratio: 16/9;
}

.box#buque-electrico figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box#buque-electrico .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 5rem;
}

section#banner-distrito {
    aspect-ratio: 16/7;
    min-height: 30rem;
    width: 100%;
    height: auto;
    color: #fff;
    overflow: hidden;
}

section#download-brochure {
    min-height: 30rem;
    width: 100%;
    height: auto;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
}

section#banner-distrito img {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: bottom;
    z-index: 0;
}

section#download-brochure img {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

section#banner-distrito .container,
section#download-brochure .container {
    position: relative;
    z-index: 2;
}

section#cards {
    padding-bottom: 0;
    background-color: var(--color-6);
}

section#cards:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background-color: #fff;
}

.swiperCards3 .swiper-slide,
.swiperCards4 .swiper-slide {
    height: auto;
    padding-bottom: 1rem;
}

.card {
    box-shadow: var(--sombra-1);
    border: solid 1px #f4f4f4;
    cursor: pointer;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.card .text img {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.card:hover .text img {
    transform: translateX(.5rem);
    -webkit-transform: translateX(.5rem);
    -moz-transform: translateX(.5rem);
    -ms-transform: translateX(.5rem);
    -o-transform: translateX(.5rem);
}

.card-1 {
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.card-1 figure {
    aspect-ratio: 4/3;
    position: relative;
}

.card-1 figure img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    object-fit: cover;
}

.card-1 figure:before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 7.98%, rgba(0, 0, 0, 0) 41.38%), url(tostadero04);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

.card-1 .text {
    z-index: 3;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-1 .text h3,
.card-3 .text h3 {
    color: #fff;
    font-weight: 500;
    font-size: var(--text-l);
}

.card-3 {
    position: relative;
    height: 7rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    border: none;

}

.card-3 figure {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.card-3 figure:before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #00000043;
}

.card-3 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: center;
}

.card-3 .text {
    position: absolute;
    inset: 0;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
    justify-content: space-between;
}

.card-2 {
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.card-2 figure img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}


.card-2 .text {
    background-color: #fff;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-2 .text h3 {
    color: var(--color-1);
    font-weight: 500;
    font-size: var(--text-ml);
}

.modal-cards .modal-dialog {
    max-width: 95%;
    width: 1200px;
}

.modal-cards .modal-header {
    border-bottom: none;
    padding: 0;
    position: relative;
}


.modal-cards .row>* {
    position: relative;
}

.modal-body button.btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-cards p.titulo {
    color: var(--color-1);
    font-size: var(--text-xl);
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.modal-cards p {
    margin-bottom: .25rem;
}

section#futuro .box {
    background-image: url(../images/bg-futuro.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 3rem;
    color: #333;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

footer#footer-main {
    background-color: var(--color-5);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

footer#footer-main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-main nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    padding: 0;
    gap: .5rem;
}

#footer-main nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: var(--text-rm);
}

.box {
    background-color: var(--color-1);
    color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: var(--sombra-1);
}

.box .item {
    border-right: solid 1px var(--color-2);
}


.box .numero {
    font-size: var(--text-xxxl);
    text-align: center;
    color: #fff;
}

.box .titulo {
    text-transform: uppercase;
    letter-spacing: .14rem;
    font-weight: 500;
    font-size: var(--text-ml);
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
}

.box .texto {
    color: #fff;
    text-align: center;
}

.header-inner {
    height: 100vh;
    display: flex;
    align-items: center;
}

.header-inner img {
    position: absolute;

    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
}

.header-inner h1 {
    color: var(--color-5);
    font-size: var(--text-m);
    letter-spacing: .1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.header-inner h2 {
    color: var(--color-1);
    font-size: var(--text-xxxl);
    font-weight: 300;
    margin-bottom: 5rem;
    max-width: 1000px;
}
/* LANDING DISTRITO */
#brochure-distrito #separador,
#brochure-electrico #separador {
    min-height: 40rem;
}
#brochure-distrito #separador img,
#brochure-electrico #separador img {
    position: absolute;
    width: 100%;
    height: 120%;
    top: -10%;
    left: 0;
    object-fit: cover;
    object-position: bottom;
    z-index: 1;
}
#brochure-distrito #separador .container,
#brochure-electrico #separador .container {
    position: relative;
    z-index: 3;
}
/* LANDING FRANCISCO */


#brochure-francisco #hero {
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
}

#brochure-francisco #hero video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#brochure-francisco #hero:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(4deg, rgba(2, 0, 36, 0.3253676470588235) 36%, rgba(0, 0, 0, 0) 100%);

}

#brochure-francisco #hero .container {
    z-index: 3;
}

#brochure-francisco #hero h1 {
    font-size: var(--text-m);
    letter-spacing: .1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

#brochure-francisco #hero h2 {
    font-size: var(--text-xxxl);
    font-weight: 300;
    margin-bottom: 5rem;
    max-width: 1000px;
}

#brochure-francisco #paseo360 .box {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#brochure-francisco section#caracteristicas {
    min-height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#brochure-francisco section#caracteristicas:before,
#brochure-electrico #separador:before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.25);
}

section#caracteristicas .container {
    position: relative;
    z-index: 3;
}

#brochure-francisco #caracteristicas ul {
    color: #fff;
    font-size: var(--text-ml);
    list-style: none;
}


#brochure-francisco ul.caracteristicas li {
    margin-bottom: 2rem;
    padding-left: 2rem;
    position: relative;
}


#brochure-francisco ul.caracteristicas li:before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 5px;
    width: 35px;
    height: 35px;
    background-image: url(../images/icon-hoja.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#brochure-francisco #secciones {
    background-color: var(--color-5);
    color: #fff;
}

#brochure-francisco #secciones .container {
    position: relative;
    z-index: 4;
}



#brochure-francisco #secciones:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #fff;

}

/* BUQUE ELECTRICO */

#brochure-electrico #cifras .box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* DISTRITO BUQUEBUS */

@media (min-width: 1031px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 1030px) {


    :root {

        --text-xs: 0.6rem;
        --text-s: 0.7rem;
        --text-r: .9rem;
        --text-rm: 1rem;
        --text-m: 1.1rem;
        --text-ml: 1.2rem;
        --text-l: 1.3rem;
        --text-xl: 1.6rem;
        --text-xxl: 1.8rem;
        --text-xxxl: 2rem;
        --text-xxxxl: 2.2rem;

    }

    .desktop {
        display: none;
    }

    #brochure-home section#hero:before {
        height: 8rem;
    }

    #brochure-home #hero .top .container {
        padding-top: 8rem;
    }

    #brochure-home #hero img.floating {
        aspect-ratio: 16/9;
        left: 5%;
        bottom: 9rem;
        width: 90%;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;

        flex-direction: column;
    }
    .box#buque-electrico {
        flex-direction: column;
    }
    .box#buque-electrico .text,
    .box#buque-electrico figure {
        width: 100%;
    }

    .box#buque-electrico .text {
        padding: 2rem 2rem;
    }

    .swiperFlota .swiper-slide .container {
        padding: 0;
        flex-direction: column;
    }

    #sustentable .navigation,
    #flota .navigation {
        display: none;
    }

    .swiperFlota .swiper-slide img {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        aspect-ratio: 16/9;
        inset: inherit;
    }

    .swiperFlota .swiper-slide {
        aspect-ratio: auto;
    }

    .swiperFlota .swiper-slide figure:after {
        content: none;
    }

    .swiperFlota .swiper-slide .row {
        padding: 1rem;
        background-color: var(--color-1);
    }

    .swiperFlota .ficha {
        margin-top: 1rem;
        column-count: 2;
    }

    section.header-inner {
        display: flex;
        flex-direction: column;
    }

    section.header-inner {
        padding-bottom: 0;
        height: auto;
    }

    .header-inner h1 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .header-inner h2 {
        margin-bottom: 2.5rem;
    }

    .header-inner img {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 3rem;
    }

    .box .titulo {
        margin-bottom: .75rem;
    }

    .box .item {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-right: 0;
        border-bottom: solid 1px var(--color-2);
    }

    section#futuro .box {
        padding: 1rem 2rem;
    }
}



@media (min-width: 577px) {}

@media (max-width: 576px) {}